<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg model)">
   <!-- robot name parameter -->
   <xacro:arg name="model" default="denso_robot"/>
   <!-- import main macro -->
   <xacro:include filename="$(find denso_robot_descriptions)/robots/$(arg model)/urdf/denso_robot_macro.xacro"/>

   <!-- parameters -->
   <xacro:arg name="namespace" default="" />
   <xacro:arg name="transmission_hw_interface" default=""/>

   <!-- ros2_control related parameters -->
   <xacro:arg name="verbose" default="false" />
   <xacro:arg name="sim" default="false" />
   <xacro:arg name="ip_address" default="192.168.0.1" />
   <xacro:arg name="send_format" default="288" />
   <xacro:arg name="recv_format" default="292" />

   <!-- arm -->
   <xacro:denso_robot
     model="$(arg model)"
     namespace="$(arg namespace)"
     transmission_hw_interface="$(arg transmission_hw_interface)"
     sim="$(arg sim)"
     ip_address="$(arg ip_address)"
     verbose="$(arg verbose)"
     send_format="$(arg send_format)"
     recv_format="$(arg recv_format)" />
</robot>
